<launch>
    <arg name="motor_arduino" default="/dev/ttyACM0" />
    <node pkg="rosserial_python" name="rosserial_python" type="serial_node.py" args= "$(arg motor_arduino)">
        <!-- <param name="motor_arduino" value="$(arg motor_arduino)" /> -->
    </node>
    <node pkg="test" name= "emotion_detect" type="ros_emo_feat.py" output="screen" />
    <node pkg="test" name= "emo_servo" type="ros_test_motor.py" output="screen" />
</launch>